<div id="title-container">
  <h1>Matchs contre {{ oppsName }}</h1>
</div>
<div class="games-container" *ngFor="let team of opps | keyvalue">
  <ng-container *ngIf="team.key === oppsName">
    <div class="game" *ngFor="let game of team.value.games">
      <img
        [src]="'assets/img/games/' + formatGame(game) + '.png'"
        [class.clicked]="isClicked(formatGameName(formatGame(game)))"
        (click)="toggleClicked(formatGameName(formatGame(game)))"
        alt="{{ game }} logo"
        class="game-logo"
        title="{{ game }}"
        draggable="false"
      />
    </div>
  </ng-container>
</div>

<div id="matches-container">
  <ng-container *ngFor="let match of matches">
    <div
      class="match {{ formatGameName(match.competition) }}"
      [class.hidden]="isClicked(formatGameName(match.competition))"
      [ngClass]="{
        win: match.result === 'win',
        loss: match.result === 'loss'
      }"
      @fadeInUp
    >
      <div class="match-info">
        <div class="game-icon-container">
          <img
            [src]="'assets/img/games/icon/' + formatCompetition(match) + '.png'"
            alt="League of Legends logo"
            class="game-icon"
            title="{{ match.competition }}"
            draggable="false"
          />
        </div>
        <div class="match-data">
          <b> </b>
          {{ match.date | date : "dd/MM/yyyy" }}
          <br />
          <span> {{ match.kc_team }} vs {{ match.opps }} </span>
          <br />
          {{ match.score_kc }} - {{ match.score_opps }}
        </div>
      </div>
    </div>
  </ng-container>
</div>


        <!-- <div class="vod-container">
        <a
          *ngIf="match.flags[0] === 'hasVod'"
          [href]="'https://lolesports.com/vod/' + match.id"
          target="_blank"
        >
          <img
            src="assets/img/misc/lolesport-icon.png"
            alt="vod"
            class="vod-icon"
            title="VOD"
            draggable="false"
          />
        </a>

        <a *ngIf="!match.flags[0]" href="{{ match.vodUrl }}" target="_blank">
          <img
            src="assets/img/misc/youtube-icon.png"
            alt="YouTube Logo"
            class="vod-icon"
          />
        </a>
      </div> -->

<div id="matches-container">
  <div class="match" *ngFor="let match of matchesToCome" @fadeInUp>
    <div class="match-info">
      <div class="game-icon-container">
        <img
          [src]="'assets/img/games/icon/' + formatCompetition(match) + '.png'"
          alt="League of Legends logo"
          class="game-icon"
        />
      </div>
      <div class="match-data">
        <br />
        <span *ngFor="let team of match.teams; let i = index">
          {{ team.name }}{{ i < match.teams.length - 1 ? " vs " : "" }}
        </span>
        <br />
      </div>
    </div>
  </div>
</div>
