.match.loss {
  background-color: var(--color-defeat);
}

.match.win {
  background-color: var(--color-secondary);
}

.game-logo {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#title-container {
  text-align: center;
}

.games-container {
  display: flex;
  justify-content: center; 
}
.game {
  display: inline-block;
  text-align: center;
  
  margin: 50px;
  padding: 5px;
  background: var(--color-background);
  border-radius: 14px;
  transition: box-shadow 0.2s ease;
}
.clicked {
  filter: grayscale(100%) brightness(70%);
  transform: scale(0.9);  
  transition: filter 0.5s ease, transform 0.5s ease, background 0.5s ease; /* Transition fluide */

  background: radial-gradient(circle, rgba(169, 169, 169, 0.8) 20%, rgba(169, 169, 169, 0) 70%);
  border-radius: 10px; 
}

.game:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


#matches-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 16px; 
  padding: 2rem;
}

.match {
  width: 90%;
  max-width: 600px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  transition: transform 0.2s ease;
  text-align: center;
}

.match-info {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 100%;
  position: relative; 
}

.game-icon-container {
  position: absolute; 
  left: 0; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 50px;
  height: 50px;
}

.match-data {
  text-align: center; 
  width: 100%; 
}

.game-icon {
  max-width: 60px;
  max-height: 60px;
}

.match:hover {
  transform: scale(1.02);
}

.vod-container {
  position: absolute; 
  right: 0; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 50px;
  height: 50px;

}
.vod-icon {
  max-width: 40px;
}

.hidden {
  display: none !important;
}