<div id="title-container">
  <h1>Matchs contre {{ oppsName }}</h1>
</div>
<div class="games-container" *ngFor="let team of opps | keyvalue">
  <ng-container *ngIf="team.key === oppsName">
    <div class="game" *ngFor="let game of team.value.games">
      <img
        [src]="'assets/img/games/' + formatGame(game) + '.png'"
        [class.clicked]="isClicked(game)"
        (click)="toggleClicked(game)"
        alt="{{ game }} logo"
        class="game-logo"
        title="{{ game }}"
        draggable="false"
      />
    </div>
  </ng-container>
</div>

<div id="matches-container">
  <div
    class="match"
    *ngFor="let match of matches"
    [ngClass]="{
      win: match.result === 'win',
      loss: match.result === 'loss'
    }"
    @fadeInUp
  >
    <div class="match-info">
      {{ formatDate(match.rfc460Timestamp) }}
      {{ formatTournamentName(match.tournamentId) }}
      <br />
      <span *ngFor="let team of match.teams; let i = index">
        {{ team.name }}{{ i < match.teams.length - 1 ? " vs " : "" }}
      </span>
      <br />
      {{ getFormattedScore(match) }}
    </div>
  </div>
</div>
