<h1>Matchs contre {{ oppsName }}</h1>
<div *ngFor="let team of opps | keyvalue">
  <ng-container *ngIf="team.key === oppsName">
    <ul>
      <li *ngFor="let game of team.value.games">{{ game }}</li>
    </ul>
  </ng-container>
</div>

<ul>
  <li *ngFor="let match of matches">
    <div class="matchInfo" [ngClass]="{
      'loss': match.result?.outcome === 'loss', 
      'win': match.result?.outcome === 'win'
    }">
      {{ formatDate(match.rfc460Timestamp) }}
      {{ formatTournamentName(match.tournamentId) }}
      <span *ngFor="let team of match.teams; let i = index">
        {{ team.name }}{{ i < match.teams.length - 1 ? ' vs ' : '' }}
      </span>
    </div>
  </li>
</ul>
